@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  color: #1b1b1f;
  box-sizing: border-box;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.thinScrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #a3a1ac;
}

.thinScrollbar::-webkit-scrollbar-thumb {
  background-color: #ebeaef;
}

/* Style the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8f8e96;
}

.thinScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ccccd2;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

.customTransition {
  transition-property: background-color, border, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* filter.tsx */

.filterItem:hover > .filterIcon > path,
.filterItem:hover > .filterText {
  stroke: #1b1b1f;
  color: #1b1b1f;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.filterIcon > path {
  stroke: #a3a1ac;
}
.filterIconSelected > path {
  stroke: #fff;
}
.filterIconHeaderSelected > path {
  stroke: #296bef;
}

.filterText {
  color: #a3a1ac;
}
.filterTextSelected {
  color: #fff;
}

/* cardblock.tsx */
.tableItem {
  border-right: 1px solid #f0f0f0;
}
.tableItem:nth-child(3n) {
  border-right: none;
}
.tableItemExpanded:nth-last-child(-n + 3) {
  border-top: 1px solid #f0f0f0;
}

/* response */

.tableItemMobile {
  border-bottom: 1px solid #f0f0f0;
}

.tableItemMobile:nth-last-child(1) {
  border-bottom: none;
}

/* rating.tsx */
.ratingStar > path,
.ratingStar {
  fill: black;
}

/* card.tsx */
.consIcon > path {
  stroke: #ff4539;
}

.PPCDescription > ul {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.PPCDescription > ul > li {
  padding: 12px 20px;
}

.PPCDescription > ul > li:nth-child(odd) {
  background-color: #f7f7f7;
}

.PPCDescription > ul > li:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #296bef;
  margin-right: 12px;
}

.oddBgColor:nth-child(odd) {
  background-color: #f7f7f7;
}

.activeNavLink {
  color: #296bef;
}

.activeNavLink::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 24px;
  border-radius: 2px;
  background-color: #296bef;
  margin-right: 16px;
}

.cutLongVerticalText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
